In [1]:
import requests
import pandas as pd
from lxml import etree

In [2]:
BASE_URL = "https://collections.vam.ac.uk"
search_url = "/search/?offset=0&limit=45&narrow=1&extrasearch=&q=creswell&commit=Search&quality=0&orderby=0&order=0&listing_type=list"

URL = "https://collections.vam.ac.uk/search/?offset=0&limit=45&narrow=1&extrasearch=&q=creswell&commit=Search&quality=0"
r = requests.get(BASE_URL+search_url)
print(BASE_URL+search_url)

https://collections.vam.ac.uk/search/?offset=0&limit=45&narrow=1&extrasearch=&q=creswell&commit=Search&quality=0&orderby=0&order=0&listing_type=list

In [12]:
main_page = etree.HTML(r.content)
link = main_page.xpath('//div[@id="list-view"]//li[@class="title"]//@href')

df = pd.DataFrame(link )
df.columns = ["url"]
df['url']=BASE_URL+df['url']

In [28]:
t = df.head(1).T.values[0][0]

In [147]:
t

'https://collections.vam.ac.uk/item/O1298644/decoration-detail-from-the-ceiling-photograph/'

In [150]:
def extract_meta(url):
    
    r = requests.get(url)
    main_page = etree.HTML(r.content)
    #link = main_page.xpath('//div[@id="basic-details"]//div[@class="content"]//text()')
    
    description = main_page.xpath('//div[@id="basic-details"]//h1//text()')
    
    keys = ["Object:","Place of origin:","Date:","Artist/Maker:","Materials and Techniques:","Credit Line:","Museum number:","Gallery location:"]
    columns = []
    values = []
    for k in keys:
        
      
        columns+=main_page.xpath(f'//li//strong[text()="{k}"]//text()')
        v=main_page.xpath(f'//li[strong[text()="{k}"]]//div//text()')
        
        if k =="Place of origin:":

            
            values.append(''.join([t.replace('\n',', ') for t in v]))
        else:
            values+=v

        
    
    
    return list(zip(columns,values))
           
 

result = extract_meta(t)

In [152]:
df =pd.DataFrame(result)
df.T

,0,1,2,3,4,5,6,7
0,Object:,Place of origin:,Date:,Artist/Maker:,Materials and Techniques:,Credit Line:,Museum number:,Gallery location:
1,Photograph,"Al-Aqsa (photographed), Palestine (photographe...",1930s (photographed),"K.A.C. Creswell, born 1879 - died 1974 (photog...",Gelatin silver print,"Purchased from Professor Sir K.A.C. Creswell, ...",790-1939,In Storage